@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* shared CSS Propertices */
.display-flex {
    display: flex;
}

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

.dark3 {
    color: #727272;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* navbar section */
.navbar-item {
    list-style: none;
    margin-right: 30px;
}

.navbar-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
}

.navbar-container,
.banner-container {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-brand-title {
    font-weight: 700;
    font-size: 2.75rem;
}

/* banner related styles */
.banner-content {
    /* border: 2px red solid; */
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-describtion {
    font-size: 1rem;
    font-weight: 500;
}

.banner-img {
    width: 100%;
}

/* team section start */
.teams {
    align-items: center;
}

.teams-content {
    /* border: 2px red solid; */
    margin-left: 130px;
    max-width: 530px;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    border-radius: 8px;
}

.team-img {
    width: 100%;
    height: 100%;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-describtion {
    font-size: 1rem;
    font-weight: 500;
}

#features {
    color: #FF900E;
}

/* features love and enjoy start */
.love-container {
    gap: 130px;
}

#love-and-enjoy {
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.love-text-content {
    max-width: 580px;
}

/* card section */
.card-container {
    max-width: 580px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 10px 0px 10px 0px;

}

#card-describtion {
    margin-top: 5px;
}

.fact-img>img {
    width: 100%;
    height: 100%;
}

/* responsive media query */
@media screen and (max-width:576px) {

    .navbar-container,
    .navbar-links,
    .teams,
    .love-container {
        flex-direction: column;
    }

    .navbar-item {
        margin-bottom: 10px;
    }

    .navbar-brand-title,
    .banner-title {
        margin: 20px 0px 10px 0px;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content {
        margin-left: 20px;
    }

    .love-container {
        gap: 30px;
    }


}

@media screen and (min-width:576px) and (max-width:992px) {

    .teams,
    .love-container {
        flex-direction: column;
    }

    .love-container {
        gap: 30px;
    }

    .card-container {
        max-width: 100%;
    }
    .teams-content {
        margin-left: 85px;
        max-width: 100%;
    
    }

}